[submodule "MASPreferences"]
	path = MASPreferences
	url = https://github.com/brantyoung/MASPreferences.git
[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://github.com/robbiehanson/CocoaLumberjack
[submodule "EMKeychain"]
	path = EMKeychain
	url = https://github.com/brantyoung/EMKeychain
[submodule "INPopoverController"]
	path = INPopoverController
	url = https://github.com/indragiek/INPopoverController
[submodule "RNCryptor"]
	path = RNCryptor
	url = https://github.com/rnapier/RNCryptor
[submodule "sstoolkit"]
	path = sstoolkit
	url = https://github.com/soffes/sstoolkit
[submodule "INSOCKSServer"]
	path = INSOCKSServer
	url = https://github.com/brantyoung/INSOCKSServer
[submodule "Mantle"]
	path = Mantle
	url = https://github.com/MantleFramework/Mantle
[submodule "CSSSHHelper"]
	path = CSSSHHelper
	url = https://github.com/brantyoung/CSSSHHelper
[submodule "OWKeychain"]
	path = OWKeychain
	url = https://github.com/brantyoung/OWKeychain
[submodule "FileMD5Hash"]
	path = FileMD5Hash
	url = https://github.com/JoeKun/FileMD5Hash
